@model GithubSharp.MvcSample.MvcApplication.Models.ViewModels.BaseViewModel<GithubSharp.Core.Models.Issue>
@section Title {
View
}
<h2>
    View</h2>
@Html.Partial("Issue", Model.ModelParameter)
