@model GithubSharp.MvcSample.MvcApplication.Models.ViewModels.BaseViewModel<System.Collections.Generic.IEnumerable<GithubSharp.Core.Models.Commit>>
@section Title {
Commits
}
<h2>
    Commits</h2>
@if (Model != null && Model.ModelParameter != null)
{
    foreach (var commit in Model.ModelParameter)
    { 
    <hr />
    <div>
        @Html.Partial("CommitRenderer", commit)
    </div>
    }
}
else
{
    <text>No commits found..</text>
}