@model GithubSharp.MvcSample.MvcApplication.Models.ViewModels.BaseViewModel<GithubSharp.Core.Models.SingleFileCommit>
@section Title {
Commit
}
<h2>
    Commit</h2>
@if (Model != null && Model.ModelParameter != null)
       {
           Html.Partial("CommitRenderer", Model.ModelParameter)
       }
       else
       { 
    <text>No commit found..</text>
    }